@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;900&display=swap");


.card-hover {
  cursor: pointer;
  padding: 0.2rem 0;
  /* padding-left: 3rem; */  /* Removed the duplicate padding-left */
}

.card-hover:hover {
  color: #fff;
  background: linear-gradient(to right, #702b88, #f47321);
  border-radius: 3rem 0 0 3rem;
  transition: 0.2s;
}

.card {
  width: 24.5rem;
  height: 40rem;
  background: #d9d9d9;
  margin-top: 0.5rem;
  border: 3px solid #f37321;
  /* border-color: linear-gradient(to top,#F37321, #702B88); */
  border-radius: 5.6rem;
  padding: 1rem;
  cursor: pointer;
}

.card:hover {
  background: #aaa;
  transition: 0.5s;
}

.add-to-cart {
    color: white;
    background: #f37321;
    font-weight: 500;
    border: none;
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;
    padding: 0.3rem 1.8rem !important;
    font-size: 11px !important;
    border-color: #702b88 !important;  
    margin-bottom: 10px;
  }
 .add-to-cart:hover{
    background-color: transparent;
   color: #702b88 !important;
 }

.flash-sales .big-heading {
  font-size: 3rem;
  line-height: 3rem;
}

.flash-sales {
  background: #f37321;
  border-radius: 6rem;
  width: 100%;
  padding: 4rem;
  margin: auto;
}

.flash-sales img {
  width: 30rem;
}

.flash-sales .transparent-orange {
  color: #fff;
  border: 3px solid #fff;
  padding: 5px 10px;
}

.flash-sales .transparent-orange:hover {
  background: #fff;
  color: #f37321;
  transition: 0.2s;
}

.bg {
  background: linear-gradient(to right, #702b88, #f47321);
}

footer {
  border-radius: 10% 10% 0 0;
}

/* ===================== Product page ==================== */
.grey {
  width: 100%;
  background: #d9d9d9;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  padding: 0rem 1rem;
}

.grey img{
  width: 100%;
}

.grey:hover {
  background: #8b8a8a;
  cursor: pointer;
  transition: 0.3s;
}

.small-products img {
  padding: 1rem 0.1rem;
}

.product-info {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 2rem;
}

.purple-outline-card {
  line-height: 1rem !important;
  border: 0.2rem solid #702b88;
  border-radius: 2.1rem;
  overflow: hidden;
}

.purple-outline-card i {
  color: #702b88;
  /* width: 31rem; */
}
.purple-outline-card .sec4 {
  background: #ececec;
}

.card-headings {
  font-size: 1rem;
  font-weight: 500;
}
.card-para {
  font-size: 0.625rem;
}
.font-weight-bolder {
  font-weight: 700;
}

.profile {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: #fff;
}

.product-details h1 {
  font-weight: 600;
}

.line {
  width: 95%;
  height: 1px;
  background: #999797;
  margin: auto;
}

.purple-outline-button {
  color: #702b88;
  background: transparent;
  font-weight: 500;
  border: 2px solid #702b88;
  border-radius: 3rem;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem 1.8rem !important;
  font-size: 12px !important;
}

.purple-outline-button:hover {
  background: #702b88;
  color: white;
  transition: 0.2s;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.star {
  color: gray;
}

.star.checked {
  color: #f37321;
}

.sub::before {
  background: #aaa;
  border-radius: 20px 0 0 20px;
  padding: 0.1rem 0.2rem;
}

.add::before {
  background: #aaa;
  border-radius: 0 2rem 2rem 0;
  padding: 0.1rem 0.2rem;
}

.product-page {
  overflow-x: hidden;
}

.star{
  font-size: 1rem;
}

/* ========== Mobile ========== */
@media screen and (min-width: 1440px) {
  .product-page html{
    font-size: 10px;
  }

}

@media screen and (max-width: 1400px) {
  .card {
    width: 15rem;
  }

  .orange-button{
    font-size: 10px;
  }

  .purple-outline-button{
    font-size: 11px;
  }

  .purple-outline-button{
    padding: 0 1rem;
      /* background: #702b88;
      color: white; */
    font-size: .5rem;
  }
  .orange-button{
    padding: 0 .8rem;
  }
  .mobile{
    display: none;
  }

}

@media screen and (max-width: 1090px) {
  nav {
    background: linear-gradient(to top, #702b88, #f47321);
    text-align: center;
  }

  nav ul li {
    padding-top: 2rem;
  }

  .transparent-orange {
    margin: auto;
  }

  .card {
    width: 10rem !important;
    height: 20rem !important;
    padding: 5 0rem;
    margin: auto;
  }

  .flash-sales {
    padding: 1rem;
  }

  .flash-sales img {
    width: 800px;
  }

  .flash-sales .text {
    /* margin: 0 auto; */
    text-align: center;
  }

  .text p {
    margin: auto;
    padding: 1rem 0;
  }
  .mobile{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .flash-sales img {
    width: 30rem;
  }
  .mobile{
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .hero .row {
    display: none;
    visibility: hidden;
  }

  .purple-outline-button, .orange-button{
    font-size: 9px;
    margin-bottom: 2rem ;
  }
  .mobile{
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .flash-sales img {
    margin: -10rem auto;
    width: 600px;
  }

  nav {
    padding: 2rem;
    /* overflow: hidden; */
    width: 100%;
  }

  nav .logo img {
    width: 8rem;
  }

  button.navbar-toggler {
    position: relative;
    left: -3.5rem;
  }

  .xs-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flash-sales {
    padding: 2rem;
  }

  .flash-sales img {
    display: none;
  }

  .d-tab{
    display: block!important;
  }
  .purple-outline-button, .orange-button{
    padding: 0.2rem 1.8rem!important;
  }
  .mobile{
    display: none;
  }

}

@media screen and (max-width: 425px) {
  .flash-sales img {
    display: none;
  }

  .flash-sales .big-heading {
    font-size: 2.2rem;
  }

  .mob-none {
    display: none;
  }

  .card {
    width: 18rem !important;
    height: 26rem !important;
  }

  h1 {
    text-align: center;
  }

  .mob-text-center {
    text-align: center;
  }

  .hero {
    padding: 0% !important;
    width: 100%;
    height: 25rem;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
}

@media screen and (max-width: 350px)
{
  .social-icon-mob{
    padding: 0 1.5rem!important;
  }
} 

/* =========== Big Screens =========== */
@media screen and (min-width: 2560px) {
  .product-page {
    width: 105rem !important;
    margin: auto;
  }
}
